/* ---------Color Variables--------- */
:root {
    --clr-red: #912141;
    --clr-green: #799121;
    --clr-blue: #214191;
    --clr-grey: #fff; 
    --clr-dark: #aaa;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.17rem;
}

/* ---------Presets ---------*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--clr-grey);
    background-image: url(/img/backpurple.png);

    /* transform-animation scrolling fix */
    overflow-x: hidden;
}

/* --------Header & Navigation Bar -----------*/
nav {
    padding: 0.25rem 0 0.25rem 0.25rem;
    
}
.nav-list {
    background-color:white;
    box-shadow: 0px 0px 10px var(--clr-dark);
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem;
    align-items: center;
    width: 100%;
}

.nav-item  {
    margin-right: 2rem;
}

#emory-name {
    font-size: 3.17rem;
    font-weight: 200;
    color: var(--clr-red);
    transition: color 0.75s;
}

#hare-name {
    font-size: 3.17rem;
    font-weight: 700;
    color: var(--clr-red);
    transition: color 0.75s;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    transition: color 0.75s;
}

.nav-item:nth-child(2) a{
    color: var(--clr-green);
    transition: color 0.75s;
}

.nav-item:nth-child(3) a{
    color: var(--clr-blue);
    transition: color 0.75s;
}

.nav-item:nth-child(4) a {
    color: var(--clr-red);
    transition: color 0.75s;
}

/* Hovers */
#emory-name:hover {
    font-weight: 400;
    color: var(--clr-green);
    text-decoration: underline;
}

#hare-name:hover {
    font-weight: 900;
    color: var(--clr-blue);
    text-decoration: underline;
}

.nav-item:nth-child(2) a:hover{
    color: var(--clr-blue);
    text-decoration: underline;
}

.nav-item:nth-child(3) a:hover{
    color: var(--clr-red);
    text-decoration: underline;
}

.nav-item:nth-child(4) a:hover{
    color: var(--clr-green);
    text-decoration: underline;
}

/* Header Images */
#bun {
    height: 6rem;
}

/* Anything under 1300 px */
@media screen and (max-width: 1300px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-item:first-child{
        margin: 0;
    }

    .nav-item {
        padding: 1rem;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
    
    #bun {
        display: none;
    }
}

/* ----------- Hero Image / Text ---------- */
/* The animation code */
@keyframes hero-bun {
  0% {background-color: var(--clr-grey);}
  25% {background-color: var(--clr-red);}
  50% {background-color: var(--clr-green);}
  75% {background-color: var(--clr-blue);}
  100%{background-color: var(black);}
}

.hero-banner {
    background-image: url("../img/bun-logo-color-2.svg");
    background-position: right;
    background-size: 1800px;
    height: 90vh;
    background-color: black;
    background-repeat: no-repeat;

    /*hero animation*/
    animation-name: hero-bun;
    animation-duration: 20s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

.hero-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Anime-Arrow Animation */
@keyframes hero-arrow-slide {
    from {padding-top: 0;}
    to {padding-top: 2rem;}
}

@keyframes hero-arrow-grow {
    from {transform: scale(1);}
    to {transform: scale(2);}
}
/* weird x - scrollbar moves with animation 
   fixed by adding x overflow to body*/

.anime-arrow {
    animation-name: hero-arrow-slide, hero-arrow-grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero-item a {
    color: white;
}

.hero-item h1 {
    font-size: 8em;
}

.hero-item h2 {
    font-size: 3em;
}

/* Anything under 1300 px */
@media screen and (max-width: 1300px) {
    .hero-banner .hero-item {
        position: relative;
    }
    .hero-banner {
        height: 60vh;
    }
    .hero-item h1{
        font-size: 4em;
    }
    .hero-item h2{
        font-size: 1.5em;
    }
    .hero-banner {
        background-size: 900px;
    }
}

/* ----------- Home Gallery (Not in Use) ------------*/
/* .image-grid {
    --gap: 1rem; /* gap between each photo */
    /* --num-cols: 3; number of columns in grid  */
    /*--row-height: 500px; height of image */
/* 
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
} */

/* .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-fit: contain; */
    /* object-fit: fill;  causes image to strech*/
    /* object-fit: scale-down;
} */

/* .image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
} */

/* Anything under 1024 px */
/* @media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
} */


/* ---------- Home Gallery - Flex ---------- */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 1rem;
}

.gallery-column {
    flex: 33.333%;
    max-width: 33.333%;
    padding: 0 4px;
}

.gallery-column img:hover {
    box-shadow:  0 1em 1em var(--clr-green);
    transition: all 0.25s;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1rem 1rem 0 0;

    width: 100%;
}

.gallery-column h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.gallery-column a {
    color: white;
    font-weight: 300;
    transition: all 0.25s;
}
.gallery-column a:hover {
    font-weight: 700;
}

#gallery-title {
    /* background-image: linear-gradient(to top, var(--clr-blue), var(--clr-green)); */
    background-color: var(--clr-red);
    border-radius: 0 0 1rem 1rem;
    box-shadow:  0 0.25em var(--clr-blue);
}

#about-title {
    background-color: var(--clr-red);
    /* background-image: linear-gradient(to top, var(--clr-green), var(--clr-red)); */
    border-radius: 0 0 1rem 1rem;
    box-shadow:  0 0.25em var(--clr-blue);
}

#contact-title {
    background-color: var(--clr-red);
    /* background-image: linear-gradient(to top, var(--clr-red), var(--clr-blue)); */
    border-radius: 0 0 1rem 1rem;
    box-shadow:  0 0.25em var(--clr-blue);
}



@media screen and (max-width: 700px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}

/* ------------ Call to Action / Contact-form ----------- */
.action-container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.5rem;

    color: white;
}

.call-to-act {
    background-color: var(--clr-blue);
    width: 100%;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url(/img/banner.png);
}

.contact-form {
    background-color: var(--clr-green);
    width: 100%;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;  

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url(/img/banner.png);
}

@media screen and (max-width: 700px) {
    .action-container, .contact-form, .call-to-act {
        flex-direction: column;
    }
    .call-to-act {
        margin-bottom: 0.5rem;
        margin-right: 0;
    }
}

/* ------------  FOOTER---------------*/
.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: var(--clr-red);
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 0;   
}

.foot-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0 1rem;
}

.foot-nav h2{
    padding: 1rem;
    color: white;
    transition: color 0.75s;
}

.foot-nav a:hover h2:hover {
    color: var(--clr-green);
    text-decoration: underline;
}

 .socials-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.socials {
    color: var(--clr-grey);
    transition: color 0.75s;
    padding: 0 0.25rem;
}

.socials:hover{
    color: var(--clr-blue);
}

.created-by {
    color: white;
    padding: 1rem;
}
