/* 
#912141 - red
#799121 - green
#214191 - blue
*/
/* h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 800;
} */

/* Presets */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Header & Navigation Bar */
.container {
    width: 100%;
    height: 5rem;
    background-color: #912141;
    display: grid;
    grid-template-columns: auto auto auto;
}

#bun {
    height: 5rem;
}

.menu-container {
    background: #799121;
    height: 5rem;
}

.menu-container ul {
    display: flex;
    flex-direction: row;
}

/* Gallery */
.image-grid {
    --gap: 1rem; /* gap between each photo */
    --num-cols: 3; /* number of columns in grid */
    --row-height: 300px; /* height of image*/

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* object-fit: contain; */
    /* object-fit: fill;  causes image to strech*/
    /* object-fit: scale-down; */
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything under 1024 px */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

/* .socials-container {
    background-color: #5c6c92;
    height: 5rem;
} */

.socials {
    color: #912141;
    transition: color 0.2s;
}

.socials:hover{
    color: #799121;
}
