/* ---------Color Variables--------- */
:root {
    --clr-red: #912141;
    --clr-green: #799121;
    --clr-blue: #214191;
    --clr-grey: #fff; 
    --clr-dark: #aaa;
}

/* ---------Presets ---------*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--clr-grey);
    background-image: url("../img/backpurple.png");

    overflow-x: hidden; /* transform-animation scrolling fix */
}

.gallery-body {
    background-image: none;
    background-color: var(--clr-grey);

    /* margin: 0 3.5rem; */
}

.contact-body {
    background-image: none;
    background-color: var(--clr-grey);
    background-image: url("../img/backwonka.jpg");

    /* margin: 0 3.5rem; */
}

#shop-body {
    background-image: url("../img/backdigital.jpg");
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.17rem;
}

/*---------- Link - Styling Section ---------- */
.red-green-link {
    color: var(--clr-red);
}

.red-green-link:hover li {
    color: var(--clr-green);
    transition: 0.75s;
    border-bottom: 5px solid var(--clr-grey);
    padding-left: 3rem !important;
}

.green-blue-link {
    color: var(--clr-green);
}

.green-blue-link:hover li{
    color: var(--clr-blue);
    transition: 0.75s;
    border-bottom: 5px solid var(--clr-grey);
    padding-left: 3rem !important;
}

.blue-red-link {
    color: var(--clr-blue);
}

.blue-red-link:hover li{
    color: var(--clr-red);
    transition: 0.75s;
    border-bottom: 5px solid var(--clr-grey);
    padding-left: 3rem !important;
}
/* Notification Bar */
.notify-bar {
    background-color: var(--clr-red);
    text-align: center;
    color: white;
    font-weight: 600;
}
.notify-bar a {
    color: white;
}
/* --------Header & Navigation Bar -----------*/
nav {
    padding: 0.25rem 0 0.25rem 0.25rem; 
}

.nav-list {
    background-color:white;
    box-shadow: 0px 0px 10px var(--clr-dark);
    border-radius: 0.2rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem;
    align-items: center;
    width: 100%;
}

.nav-item  {
    margin-right: 2rem;
}

#emory-name {
    font-size: 3.17rem;
    font-weight: 200;
    color: var(--clr-red);
    transition: color 0.75s;
}

#hare-name {
    font-size: 3.17rem;
    font-weight: 700;
    color: var(--clr-red);
    transition: color 0.75s;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    transition: color 0.75s;
}

.nav-item:nth-child(2) a{
    color: var(--clr-green);
    transition: color 0.75s;
}

.nav-item:nth-child(3) a{
    color: var(--clr-blue);
    transition: color 0.75s;
}

.nav-item:nth-child(4) a {
    color: var(--clr-red);
    transition: color 0.75s;
}

.nav-item:nth-child(5) a {
    color: var(--clr-green);
    transition: color 0.75s;
}

/* Hovers */
#emory-name:hover {
    font-weight: 400;
    color: var(--clr-green);
    text-decoration: underline;
}

#hare-name:hover {
    font-weight: 900;
    color: var(--clr-blue);
    text-decoration: underline;
}

.nav-item:nth-child(2) a:hover{
    color: var(--clr-blue);
    text-decoration: underline;
}

.nav-item:nth-child(3) a:hover{
    color: var(--clr-red);
    text-decoration: underline;
}

.nav-item:nth-child(4) a:hover{
    color: var(--clr-green);
    text-decoration: underline;
}

.nav-item:nth-child(5) a:hover{
    color: var(--clr-blue);
    text-decoration: underline;
}

/* Header Images */
#bun {
    height: 6rem;
}

/* Anything under 1300 px */
@media screen and (max-width: 1300px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-item:first-child{
        margin: 0;
    }

    .nav-item {
        padding: 1rem;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }
    
    #bun {
        display: none;
    }
}


/* ---- Hamburger Menu --------- */
/* <!--    Made by Erik Terwan    -->
     & Edited by Emory Hare :)
<!--   24th of November 2015   -->
<!--        MIT License        --> */
#nav-burger {
    position: fixed;
    z-index: 7;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/* Burger - spans */
#red-span {
    background-color: var(--clr-red);
    box-shadow: 0 0 3px white, 0 0 3px black;
}

#green-span {
    background-color: var(--clr-green);
    box-shadow: 0 0 3px white, 0 0 3px black;}

#blue-span {
    background-color: var(--clr-blue);
    box-shadow: 0 0 3px white, 0 0 3px black;}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* ---- Burger TO x ------- */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--clr-blue);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.932), rgba(128, 128, 128, 0.568));
  border-radius: 1rem;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke: 2px white;
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* 899px */
@media screen and (max-width: 1022px) {
    #nav-main {
        display: none;
    }
    #nav-burger {
        display: block;
    }
}

/* 900px */
@media screen and (min-width: 1023px) {
    #nav-main {
        display: block;
    }
    #nav-burger {
        display: none;
    }
}

/* ----------- Hero Image / Text ---------- */
/* The animation code */
@keyframes hero-bun {
  0% {background-color: var(--clr-grey);}
  25% {background-color: var(--clr-red);}
  50% {background-color: var(--clr-green);}
  75% {background-color: var(--clr-blue);}
  100%{background-color: var(black);}
}

.hero-banner {
    background-image: url("../img/bun-logo-color-2.svg");
    background-position: right;
    background-size: 1800px;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;

    /*hero animation*/
    animation-name: hero-bun;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.hero-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@keyframes hero-arrow-grow {
    from {transform: skewY(30deg);}
    to {transform: skewY(-30deg);}
}

.anime-arrow {
    animation-name: hero-arrow-grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-top: 1rem;
}

#anime-ion {
    font-size: 64px;
}

.hero-item a {
    color: white;
}

.hero-item h1 {
    font-size: 8em;
}

.hero-item h2 {
    font-size: 3em;
    font-style: italic;
    font-weight: 600;
}

.hero-button {
    text-decoration: none;
    border: none;
    padding: 0.75rem;
    margin-top: 0.5rem;

    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    border-radius: 3rem;

    background-color: var(--clr-green);
    font-size: 16px;
}

.hero-button:hover {
    background-color: var(--clr-red);
    transition: 0.75s;
    cursor: pointer;
}

.hero-button:visited {
    background-color: var(--clr-blue);
}

/* Anything under 1300 px */
@media screen and (max-width: 1300px) {
    .hero-banner, .hero-item {
        position: relative;
    }
    .hero-item h1{
        font-size: 4em;
    }
    .hero-item h2{
        font-size: 1.5em;
    }
    .hero-banner {
        background-size: 900px;
    }
}

/* ---------- Gallery - Flex ---------- */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0.5rem;
}

.gallery-column {
    flex: 33.333%;
    max-width: 33.333%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* .art-container {

} */

.gallery-title {
    font-weight: 200;
    color: black;
    font-style: italic;
    float: right;
}

/* ------image hover ------ */
.hover-container {
    position: relative;
}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}

#overlay-gallery {
    background-color: var(--clr-red);
}

#overlay-about {
    background-color: var(--clr-green);
}

#overlay-contact {
    background-color: var(--clr-blue);
}

.hover-container:hover .overlay {
    opacity: 0.9;
}

.hover-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@keyframes gallery-link-animation {
    from {opacity: 0.2;}
    to {opacity: 0.7;}
}

@media screen and (max-width: 1025px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
    .gallery-column iframe {
        height: 240px;
        width: 320px;
    }
    .overlay {
        /*hover-animation-mobile*/
        animation-name: gallery-link-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}



/* ------------ Call to Action / Contact-form ----------- */
.action-container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.5rem;

    color: white;
}

.call-to-act {
    background-color: var(--clr-blue);
    width: 100%;
    align-items: center;
    padding: 5em;
    border-radius: 1rem;
    margin-right: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url("../img/banner.png");
}

.contact-form {
    background-color: var(--clr-green);
    width: 100%;
    align-items: center;
    padding: 5rem;
    border-radius: 1rem;  

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-image: url("../img/banner.png");
}

.button-cool {
    background-color: var(--clr-red);
    border: none;
    border-radius: 0.75em;
    padding: 1.5em;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    margin-top: 2em;
    
    transition-duration: 0.5s;
}

.button-cool:hover {
    background-color: var(--clr-blue);
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .action-container {
        flex-direction: column;
    }
    .call-to-act {
        margin-bottom: 0.5rem;
        margin-right: 0;
    }
}

/* ------------  FOOTER---------------*/
.foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: var(--clr-red);
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 0;   
}

.foot-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0 1rem;
}

.foot-nav h2{
    padding: 1rem;
    color: white;
    transition: color 0.75s;
}

.foot-nav a:hover h2:hover {
    color: var(--clr-green);
    text-decoration: underline;
}

 .socials-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.socials {
    color: var(--clr-grey);
    transition: color 0.75s;
    padding: 0 0.25rem;
}

.socials:hover{
    color: var(--clr-blue);
}

.created-by {
    color: white;
    padding: 1rem;
}


/* ------ About Page ------- */
#about-body {
    background-image: url(../img/backcamp.jpg);
}
.about-container {
    color: var(--clr-grey);
    margin: 0 1rem;
}

/* phone */
@media screen and (min-width: 320px) {
    .about-container {
        padding-top: 5rem;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-container div {
        padding: 0.25rem 0;
    }
    /* adjust image size -- smaller (background-image / clip) */
    .about-container img {
        height: 200px;
        width: auto;
        border-radius: 50%;
        box-shadow: 0 0 10px 10px grey;
    }
    .about-container h1 {
        float: right;  
        -webkit-text-stroke: 1px black; /* affects h2 links in footer*/
    }
    .about-container p {
        text-indent: 2rem;
        padding: 1rem;
        border-radius: 0.75rem;
    }
    #para-00 {
        background-color: var(--clr-red);
    }
    #para-01 {
        background-color: var(--clr-green);
    }
    .about-container h2 {
        font-size: 30px;
    }
    #cv {
        border-radius: 0.75rem;
        padding: 1rem 2rem;
        font-weight: 200;
        font-size: 20px;

        background-color: var(--clr-blue);
    }
    #cv li {
        padding: 0.25rem 0;
    }
    #about-h2 {
        -webkit-text-stroke: 1px black;
    }   
}

/* tablets */
@media screen and (min-width: 641px) {
    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .about-container div {
        padding: 0.25rem 0;
    }
    .about-container img {
        width: auto;
        height: 300px;
        border-radius: 50%;
        box-shadow: 0 0 10px 10px grey;
    }
    .about-container h1 {
        float: none; 
        -webkit-text-stroke: 1px black; /* affects h2 links in footer*/
    }
    #about-grid div {
        margin: 0 2rem;
    }
    .div-para p {
        text-indent: 0;
        padding: 2rem;
        font-size: 1.25em;
    }
}

/* computers */
@media screen and (min-width: 1025px) {
    
    #about-grid{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
    }
    #about-grid div{
        margin: 0;
    }
    .div-para {
        margin: 0;
    }
    #cv {
        margin: 0;
    }
    
}

/* ----- Contact  Page------ */

@media screen and (min-width: 320px){
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        margin-top: 5rem;
    }
    .form-heading {
        padding-bottom: 1rem;
    }
    .form-heading h1 {
        color: white;
        text-shadow: #588162;
    }
    .big-contact {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 1rem;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color:var(--clr-red);
        padding: 3rem;

        color: white;
        font-weight: 700;
        margin-bottom: 1rem;

        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;

        text-align: center;
        font-size: 20px;
    }
    .contact-section button {
        text-decoration: none;
        border: none;
        background-color: var(--clr-green);
        padding: 2rem;
        border-radius: 50%;
        box-shadow: 0 4px 2px #551426;
    }
    .contact-section button:hover {
        background-color: var(--clr-blue);
        transition: 0.75s;
    }
    @keyframes mail-button {
        from{rotate: 360deg};
        to{rotate: 0deg};
    }
    .contact-section ion-icon {
        font-size: 64px;
        color: white;

        /* mail-button */
        animation-name: mail-button;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .contact-paragraph {
        background-color: var(--clr-blue);
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;

        color: white;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 1rem;

        text-align: center;
    }
    @keyframes mailer {
        from{transform: translateY(-10px)};
        to{transform: translateY(10px)};
    }
    #mail-icon {
        padding-top: 1rem;
        font-size: 64px;

        animation-name: mailer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .contact-social-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .social-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;
        height: 300px;
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: center;
        color: white;
    }
    .social-tile button{
        text-decoration: none;
        outline: none;
        border: none;
        width: auto;
        height: auto;
        border-radius: 2rem;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 1rem;

        transition: 1s;
        cursor: pointer;
    }
    .social-tile ion-icon {
        font-size: 64px;
    }
    /* patreon contact */
    #patreon {
        background-color:var(--clr-green);
        border-radius: 0.75rem;
    }
    #patreon button {
        background-color: var(--clr-blue);
        box-shadow: 0 4px 2px #333d0e;
    }
    #patreon button:hover {
        background-color: var(--clr-red);
    }
    #patreon-bun img{
        width: 80px;
        height: auto;
        filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(165deg) brightness(106%) contrast(100%);
    }
    @keyframes bun-anime {
        from{transform: translateY(-30px)};
        to{transform: translateY(30px)};
    }
    #patreon-bun {
        animation-name: bun-anime;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    /* fiverr contact */
    #fiverr {
        background-color:var(--clr-blue);
        border-radius: 0.75rem;
    }
    #fiverr button {
        background-color: var(--clr-red);
        box-shadow: 0 4px 2px  #142758;
    }
    #fiverr button:hover {
        background-color: var(--clr-green);
    }
    @keyframes dollar {
        from{scale: 2};
        to{scale: 1};
    }
    #fiverr ion-icon {
        animation-name: dollar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    /* twitter contact */
    #twitter {
        background-color:var(--clr-red);
        border-radius: 0.75rem;
    }
    #twitter button {
        background-color: var(--clr-green);
        box-shadow: 0 4px 2px #551426;
    }
    #twitter button:hover {
        background-color: var(--clr-blue);
    }
    @keyframes tweety {
        from{rotate: 90deg};
        to{rotate: 0deg};
    }
    #twitter ion-icon {
        animation-name: tweety;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
@media screen and (min-width: 641px){
    .contact-social-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .social-tile {
        margin: 0 0.25rem;
    }
}
/* @media screen and (min-width: 1025px){
    
} */

/* ================== Shop Page =================== */
@media screen and (min-width: 320px){
    #shop-title h1{
        color: white;
        text-align: right;
        padding: 1rem;
        font-weight: 900;
        -webkit-text-stroke: 1px black;
        font-size: 90px;
    }
    #recent-work img{
        width: 320px;
        height: auto;
    }
    .shop-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        color: white;
    }
    .shop-container h2 {
        text-align: right;
        -webkit-text-stroke: 1px black;
        font-weight: 900;
        font-size: 26px;
    }
    .shop-container button {
        text-decoration: none;
        border: none;
        padding: 1rem;
        margin-top: 0.5rem;

        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 20px;
        border-radius: 2rem;
    }
    .shop-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-position: 50%;
        width: 320px;
        height: 320px;

        margin: 0.25rem 0;
    }
    .shop-item h2 {
        font-size: 36px;
    }
    #etsy-shop {
        background-image: url(../img/spin.gif);
    }
    #etsy-shop button {
        background-color: var(--clr-red);
    }
    #etsy-shop button:hover {
        background-color: var(--clr-green);
        transition: 0.75s;
        cursor: pointer;
    }
    #fiverr-shop {
        background-image: url(../img/follow.gif);
    }
    #fiverr-shop button {
        background-color: var(--clr-green);
    }
    #fiverr-shop button:hover {
        background-color: var(--clr-blue);
        transition: 0.75s;
        cursor: pointer;
    }
    #print-shop {
        background-image: url(../img/art/smalls/art002-small.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #print-shop button {
        background-color: var(--clr-blue);
    }
    #print-shop button:hover {
        background-color: var(--clr-red);
        transition: 0.75s;
        cursor: pointer;
    }
}
@media screen and (min-width: 641px){
    .shop-container {
        display: grid;
        grid-template-columns: 320px 320px;
        
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
        gap: 10px;
        padding-bottom: 1rem;
    }
    #recent-work {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }
    #recent-work img {
        width: 650px;
        height: auto;
    }
    #shop-title h1{
        text-align: center;
    }
    .shop-item {
        margin: unset;
        padding: unset;
    }
    
}
@media screen and (min-width: 1025px){
    .shop-container {
        display: grid;
        grid-template-columns: 405px 320px 320px;
        
        align-items: center;
        justify-content: center;
        
        padding-bottom: 1rem;
        gap: 0;
        padding-bottom: 1rem;
    }
    .shop-item {
        background-repeat: no-repeat;
    }
    #recent-work {
        grid-row: 1 / span 2 ;
        grid-column: 1;
    }
    #recent-work img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }
}
@media screen and (min-width: 1120px) {
    .shop-container {
        column-gap: 12px;
        grid-template-columns: 500px 320px 320px;
    }
}
